#.vscode
# Ignore node_modules folder
#node_modules

# Ignore vendor folder
#vendor

#Ignaore Drupal Files
.config
.lock
.gitattributes
.eslintrc.josn
.eslintignore
.editorconfig
.csslintrc
example.gitignore

#Ignore Core module

#core

# Ignore all text files
*.txt

# Ignore files related to API keys
.env
