/* Define standard variables and values for website Header */
$bgcolor: #fff;
$textcolor: #3a728a;
$fontsize: 18px;

.mobile-wrap {
  display: none;
}

.header-
{
  position: sticky;
  top: 0;
  z-index: 1;
  .region-header
  {
    position: relative;
  }
}

#search-btn
{
  cursor: pointer;
}
#search-block-form
{
  #edit-submit 
  {
    display: none;
  }
}

#search
{
  position: absolute;
  background-color: #3a728a;
  width:100%;
  top: 0;
  opacity: 0.9;
  .popular-search
  {
    font-family: "Ubuntu", Fallback, sans-serif;
    opacity: 1;
    display: flex;
    width: 50%;
    margin-top: 5px;
    margin-right: 130px;
    margin-left: auto;
    color: #fff;
    font-size: 14px;
    p 
    {
      margin: 4px;
    }
    .serach-btns
    {
      background-color:#231557;
      color: white;
      padding: 3px;
    }
  }
  .block-content
  {
    padding: 10px;
    .search-bar-c
    {
      display: flex;
      text-align: center;
    }
    .search-bar-inside
    {
      flex-grow: 1;
      display: flex;
    }
    form 
    {
      input  
      {
        width: 50%;
        height: 50px;
      }
      flex-grow: 1;
    }
  }
}
#search-x
{
  cursor: pointer;
  margin: 10px;

  svg 
  {
    font-size: 22px;
    font-weight: 600;
  }
}
#arrow
{
  display: none;
}

#toggle {
  display: none;
}

header {
  background-color: $bgcolor;
 

  a {
    color: $textcolor;
    text-decoration: none;
  }
  li {
    list-style: none;
  }

  border-bottom: 1px solid #c5babad1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(197, 186, 186, 0.82);
}

.header-block-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
}

.header-secondary-menu {
  // background-color: bisque;
  background: linear-gradient(to right, #fff 14%, #f3efed 20%, #f3efed 100%);
  font-family: "Ubuntu", Fallback, sans-serif;

  ul {
    display: flex;
    // justify-content: space-around;
    justify-content: center;
    margin: 0%;
    justify-content: end;
  }
  li {
    padding: 8px;
  }
  a {
    color: #72645b;
    font-size: 14px;
  }
}
#line-br {
  border-right: 2px solid #f3efed;
}

.header-primary-menu {
  display: flex;
  justify-content: end;
}
.site-header-primary-menu {
  ul {
    display: flex;
  }

  li {
    padding: inherit;
    a {
      font-family: "SofiaSans Bold", Fallback, sans-serif;
    }
  }
}

.site-header-logo {
  padding-left: 1rem !important;
  align-self: center;
  img {
    margin: 0%;
  }
}

.site-header-icons {
  align-self: center;
  padding-left: 15px;

  ul {
    display: inline-flex;
    padding-left: 0%;
    li {
      padding: 0px 8px;
      a {
        padding: 8px 8px;
        font-size: 18px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.navbar {
  overflow: hidden;
  display: inline-flex;
  border-right: 2px solid rgb(234,227,223);
  margin-top: 5px;

  .nav-items {
    a {
      font-family: "SofiaSans Extra Bold",fallback,sans-serif;
    }
  }
}

.navbar .dropbtn a {
  float: left;
  font-size: 18px;
  font-family: "SofiaSans Extra Bold", fallback, sans-serif;
  font-weight: bolder;
  color: $textcolor;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown {
  overflow: hidden;
}
.dropdown.nav-items {
  display: flex;
  justify-content: center;
}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  padding: 0px 13px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $textcolor;
  z-index: 1;
  width: 100%;
  top: 95px;
  right: 0px;

  .grand-parent {
    padding-top: 12px;
    a:hover {
      background-color: white;
      color: $textcolor;
      text-decoration: none;
    }
    .menu-items{
      flex-grow: 1;
    }
    .parent-children {
      a {
        text-transform: capitalize;
      }
      margin: 0%;
      padding: 0%;
    }
  }
}

// .grand-parent-children
// {
//   a
//   {
//     padding: 7px;

//   }
// }
.menu-items {
  display: flex;
  padding-top: 5px;

  .grand-parent-children 
  {
    // padding-left: 10px;
    flex-grow: 1;
  }
}
.fit-content {
  width: auto;
  z-index: 1;
  right: auto;
  text-align-last: center;
  .grand-parent {
    display: flex;
    // grid-gap: 2px;
    .grand-parent-children:hover {
      background-color: white;
      color: $textcolor;
      text-decoration: none;
    }
    .menu-items {
      flex-direction: column;
    }
    .grand-parent-children a {
      margin: 0 20px;
    }
    .parent-children {
      a {
        text-transform: capitalize;
      }
      margin: 0%;
      padding: 0%;
    }
  }
}
#rp-link {
  font-size: 12px;
  font-weight: bold;
}

.site-header-primary-menu {
 
  .nav-items {
    border-bottom: 5px solid transparent;
    letter-spacing: -0.5px;
  }
  .nav-items:hover {
    border-bottom: 5px solid $textcolor;
  }
}

.dropdown-content a {
  float: none;
  color: $bgcolor;
  padding: 7px;
  font-size: 14px;
  font-weight: normal;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

//   .dropdown:hover .dropdown-content {
//     display: block;
//   }

.nav-items:hover .dropdown-content {
  display: block;
}

.grand-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
  .parent a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.recent-product-item {
  text-align-last: center;
  color: white;
  flex-grow: 1;
  margin: -1;
  font-size: 16px;
  font-family: 'SofiaSans Extra Bold',fallback,sans-serif;
  h4 {
    margin: 10px;
  }
  padding-right: 30px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid $textcolor;
}

.button:hover {
  background-color: $textcolor;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $textcolor;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Page-title {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 19px;
  margin-top: 15px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

//Media Query For Maximum Width: 1230px
@media screen and (max-width: 1230px) {
  .site-header-icons {
    ul {
      padding-left: 0%;
    }
  }
}

//media query for 1060px
@media screen and (max-width: 1085px) {
  .site-header-icons {
    ul {
      margin: auto;
      li {
        padding: 0%;
        a {
          padding-left: 5px;
        }
      }
    }
  }

 .dropdown .dropbtn 
  {
    padding: 0px 6px;
  }
}


/*Hamberger button  Css*/

.menu-toggler {
  display: none;
}

.active {
  // display: block;
  // overflow: hidden;
  cursor: pointer;
  // visibility: visible;
  // opacity: 1;
  // transition: all 1.7s ease-in-out 0s, visibility 0s linear 0.3s,
  //   z-index 0s linear 0.01s;
  // transform: translateY(2em);
  // transform: translateY(0%);
  // transition-delay: 0s, 0s, 0.3s; 
  // height: auto;
  // z-index: 1;
  transform-origin: top ;
  animation : rotateX 900ms linear forwards;
}

.none {
  // display: none;
  cursor: pointer;
  // transform: translateY(0%);
  // transition-delay: 0s, 0s, 0.3s; 
  // transition: all 1.7s ease-in-out 0s, visibility 0s linear 0.3s,
  //   z-index 0s linear 0.01s;
  // transform: translateY(-2em);
  // height: 0;
  transform-origin: top ;
  animation : rotateY 900ms  linear forwards;
  // visibility: hidden;
  // opacity: 0;
}
@keyframes rotateX
{
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  12%
  {
    opacity: 1;
    transform: rotateX(83deg);
  }
  25%
  {
    opacity: 1;
    transform: rotateX(75deg);
  }
  40% 
  {
    opacity: 1;
    transform: rotateX(62deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(50deg);
  }
  75% 
  {
    opacity: 1;
    transform: rotateX(25deg);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes rotateY
{
  0% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  25%
  {
    opacity: 1;
    transform: rotateX(-25deg);
  }

  50% {
    opacity: 1;
    transform: rotateX(-50deg);
  }
  75%
  {
    opacity: 1;
    transform: rotateX(-75deg);
  }
  100% {
   opacity: 0;
    transform: rotateX(-90deg);  
  }
}


.rotate {
  transform: translate(0, -11px) rotate(80deg);
}
//Media Query for the Maximum width : 992px
@media screen and (max-width: 992px) {

  

#search 
{
  .block-content
  {
    padding: 0%;
  
 .fa-magnifying-glass 
  {
    height: 50px;
    background-color: #3a728a;
    color: white;
    margin-right: 1px;
  }
  form input
  {
    width: 100%;
  }
  }
  #search-x
  {
    display: none;
  }

}
  #search
  {
    position: initial;
  }
  .site-header-logo
  {
    height: 50px;
    padding: 0%;
    margin-right: auto;
     a {
      height: 45px !important;
      img 
      {
        height: 35px;
        width: 130px;
      }
     }
  
  }

  #arrow
  {
    display: block;
    cursor: pointer;
  }
  #mobilev
  {
    // transition: 2s;
  }

  #toggle {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px 0px 0px 10px;
  }
  .nav-items:hover .dropdown-content {
    display: none;
  }
  .navbar {
    overflow: hidden;
    display: block;
    background-color: $textcolor;
    border-right: none;

    .nav-items {
      .dropbtn {
        padding: 3px;
      }

      a {
        font-family: "SofiaSans Extra Bold", Fallback, sans-serif;
        color: white;
        padding: 2px;
        font-size: 1rem;
      }
      svg {
        padding: 2px;
        font-size: 18px;
        float: right;
      }
    }
  }

  .mobile-wrap {
    background-color: #3a728a;
    .menu 
    {
      background-color: rgb(20, 63, 91);
      li {
        padding: 5px;
      }
      a {
        color: white;
      }
    }
 
  }
  .dropdown.nav-items {
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  .mobile-wrap {
    // background-color: $textcolor;
    position: absolute;
    // top: 85px;
    height: 474px;
    overflow-y: auto;
    max-width: 375px;
    z-index: 1;
    width: 100%;
    ul {
      margin: 0%;
      padding-left: 15px;
      a {
        font-size: 16px;
      }
      a:hover {
        background-color: white;
        color: #231557;
      }
    }
  }
  .recent-product-item {
    display: none;
  }

  .header-secondary-menu {
    display: none;
  }
  .site-header-primary-menu {
    display: none;
  }
  .header-block-items {
    display: flex;
    
    align-items: center;
    height: 50px;
    .menu-toggler {
      justify-self: center;
      align-self: center;
      color: $textcolor;
      font-size: 24px;
    }
  }
  .max-cont
  {
    .grand-parent-children
    {
      .parent
      {
        a 
        {
          font-weight: bold;
          margin-bottom: 10px;
          font-size: 16px;
        }
   
      }
      a 
      {
        font-size: 14px;
      }
    }
  }
  .grand-parent-children {
    padding: 8px 0px 8px 20px ;

    .parent
    {
      a 
      {
        margin: 0px;
        font-weight: normal;
        text-transform: capitalize;
        font-size: 1rem;
      }
    }
  }

  .dropdown-content {
    display: none;
    position: initial;
    background-color: rgb(20, 63, 91);
    .grand-parent {
      padding: 0px;
      .parent-children {
        padding: 3px 6px;
      }
    }
  }

  .menu-items {
    flex-direction: column;
    width: 100;
    text-align-last: left;
    padding: 0px;
  }
}

//Hamburger menu icon styling
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 4px;
  background-color: $textcolor;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


#edit-submit--3 
{
  display: none;
}

.arrow-90
{
  svg 
  {
    transform: rotate(90deg);
  }
}
.arrow-0
{
  svg 
  {
    transform: rotate(0deg);
  }
}